<section class="cadastroMain">
    
    <h1 class="title"><i class="bi bi-person-plus-fill"></i> Cadastro</h1>

    <div class="container">
        <div class="contact-form row">
            
            
            <div class="form-field col-lg-6">
                <input id="name" type="name" class="input-text" name="">
                <label for="name" class="label">Nome</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="nickname" type="nickname" class="input-text" name="">
                <label for="nickname" class="label">Sobrenome</label>
            </div>
            <div class="form-field col-lg-12">
                <input id="email" type="email" class="input-text" name="">
                <label for="email" class="label">Informe seu email</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="password" type="password" class="input-text" name="">
                <label for="passaword" class="label">Senha</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="password" type="password" class="input-text" name="">
                <label for="passaword" class="label">Confirme sua senha</label>
            </div>
            
            
            <div class="form-field col-lg-12 text-center">
                <input class="submit-btn" type="submit" value="Cadastrar" name="">
            </div>
        </div>
    </div>
</section>