<section class="loginMain">
    
    <h1 class="title"><i class="bi bi-person-check-fill"></i> Login</h1>

    <div class="container">
        <div class="contact-form row">
            
            
            <div class="form-field col-lg-12">
                <input id="email" type="email" class="input-text" name="">
                <label for="email" class="label">e-mail</label>
            </div>
            <div class="form-field col-lg-12">
                <input id="password" type="password" class="input-text" name="">
                <label for="password" class="label">Senha</label>
            </div>
            
            
            <div class="form-field col-lg-12 text-center">
                <input class="submit-btn" type="submit" value="Entrar" name="">
            </div>
        </div>
    </div>
</section>