<div class="container mt-5 mb-5">
    
    <h2 class="text-center" id="logo-sobre">Game Mania</h2>
    
    <br>
    <h5 class="text-center" id="subtitle">Sobre nossa empresa E-commerce</h5>

    <br>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vel praesentium tempore repellat adipisci aspernatur modi unde, assumenda velit ut. Fuga enim veniam autem nobis vel dolorem ea quidem ad.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla minima deserunt omnis saepe beatae aut architecto odit numquam illo voluptatum veritatis commodi, accusantium unde aliquam ducimus asperiores dolores repellendus sapiente?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, atque laborum veritatis asperiores iusto placeat illum possimus delectus animi omnis exercitationem recusandae consectetur ut deleniti voluptatem ratione? Saepe, earum. Quae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem optio vero minima nesciunt quos adipisci doloremque doloribus nihil eos magnam voluptatum, odio soluta eaque debitis cupiditate commodi magni nam voluptatem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam labore numquam distinctio minima rem? Non hic quibusdam nesciunt quis. Quos nulla, dignissimos labore ea nihil quam ipsum id animi enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, velit, consequatur harum quam at quas, sit error eos ea iure reiciendis! Numquam voluptate tempore optio cum excepturi assumenda perferendis consequatur!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, inventore, dolore maiores ut vel aliquid ea officia vero consequuntur sunt perferendis aliquam sit sed nostrum qui quia iste beatae sapiente.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, reprehenderit earum! Facere labore provident corporis, dolorum enim qui, unde modi sunt eligendi incidunt fugiat harum nihil, quod deserunt ratione! Ipsa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque ipsa dicta quisquam voluptatem. Sequi hic nihil quae magni non! Unde amet veritatis modi obcaecati ea dolores dignissimos cupiditate qui?
    </p>
</div>