<footer class="border-top fixed-bottom text-muted bg-light">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center text-md-left">
                &copy; 2021 - Game Mania
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="departamentos" class="text-dark">Departamentos</a>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
                <a href="#"target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="#"target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="#"target="_blank"><i class="bi bi-instagram"></i></a>               
            </div>
        </div>
    </div>

</footer>
